# top-most EditorConfig file
root = true

# Code files
[*.{cs,csx,vb,vbx}]
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true
charset = utf-8